@tailwind base;
@tailwind components;
@tailwind utilities;

.chat__chatHeader{
    background:#f9f9f9;
    padding:1rem;
    border-radius:.8rem;
    box-shadow: 2px 1px 5px #e1e1e1;
}
.chat__chatHeader input {
    padding:.6rem 1rem;
    border-radius: .7rem;
    outline:none;
    margin:1rem auto;
    box-shadow: 2px 1px 5px #e1e1e1;
}
.chat__chatHeader h1 {
    font-weight: bolder;
}
.chat {
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    gap:1rem;
    width:100%;
}
.chat__msgCont {
    background:#f9f9f9;
    height:100%;
    padding:1rem;
    border-radius:.8rem;
    box-shadow: 2px 1px 5px #e1e1e1;
    flex:.8;
}

.chat__threadCont{
    flex:.2;
}
.chat__chats{
    background:#f9f9f9;
    padding:1rem;
    border-radius:.8rem;
    box-shadow: 2px 1px 5px #e1e1e1;
    margin:1rem auto;
    max-height: 100%;
    overflow-y: auto;
}