@tailwind base;
@tailwind components;
@tailwind utilities;

.feedlayour__navItem {
    background:#f9f9f9;
    padding:.7rem 2rem;
    margin:1rem 0;
    border-radius: .7rem;
}

.feedlayout {
    height:100%;
}

.feedlayout__navbar{
    border-right: 3px solid #f9f9f9;
    height: 100%;
    padding:3rem;
}

.feedlayout__main{
    padding:1rem;
}