@tailwind base;
@tailwind components;
@tailwind utilities;

.feedlayour__navItem {
    background:#f9f9f9;
    padding:.7rem 2rem;
    margin:1rem 0;
    border-radius: .7rem;
}

.feedlayout {
    height:100vh;
}

.feedlayout__navbar{
    padding:3rem;
    flex:.1;
}

.feedlayout__main{
    padding:0;
    flex:1;
}