@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Color pallet
#001d3d
#003566

*/
*,*::before, *::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h6, label{
    font-family: 'Montserrat', sans-serif;
}

p, a, button, input, select, h5, option {
    font-family: 'DM Sans', sans-serif;
}
li{
    list-style: none;
}
p{
    color: #333;
}
img {
    border-radius: 10px;
}

a {
    text-decoration: none;
    color:#003566;
    font-weight: bolder;
}

.users {
    max-height: 100%;
    overflow-y:auto;
}