@tailwind base;
@tailwind components;
@tailwind utilities;


.postmodal {
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:white;
    padding:2rem;
    width: 70%;
    border-radius: .8rem;
    max-width: 500px;
}
.postmodal input {
    width:100%;
    padding:.6rem 1rem;
    background:#f9f9f9;
    outline:none;
    border-radius: .7rem;
}

.postmodal__overlay {
    background:#00000079;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}