.box{
    animation: slide-up .4s;
}
.blur{
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

}

.newquestion__topicsarr{
    display: flex;
    justify-content:flex-start;
    gap:.9rem;
    align-items:center;
    flex-wrap: wrap;
}
.newquestion__topic{
    background:#f9f9f9;
    padding:.3rem .9rem;
    border-radius:.8rem;
}
@keyframes slide-up {
    from{
        opacity: 0.2;
        line-height: 50px;
    }
    to{
        opacity: 1;
        line-height: 1px;
    }
}